@charset "UTF-8";
/**
 * author : BHS
 */




/* Common */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Noto Sans CJK KR', 'Noto Sans KR', sans-serif;
}

body {
	margin: 0px;
	border: 0px;
	background-color: #F5F5F7;
	color: rgb(29, 29, 31);
}
table {
	border-collapse: collapse;
}

div,
table,
tr,
td,
fieldset,
input {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#logo {
	width: 330px;
	height: 140px;
	background-color: gray;
	float: left;
}

.wrap {
	width: 1470px;
	margin: 0px auto;
}

.clear {
	clear: both;
}




input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
	-webkit-transition: background-color 9999s ease-out;
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
  box-shadow: none;
}

.input-text {
	display: inline-block;
	font-size: 1.4em;
	color: black;
	border-bottom: 1px solid black;
	vertical-align: middle;
}
.input-text-bg-gray {
	-webkit-box-shadow: 0 0 0px 1000px #F5F5F7 inset !important;
}
.input-text-font-normal {
	font-size: 1em;
}

.submit {
	display: inline-block;
	width: 110px;
	height: 45px;
	border-radius: 22px;
	font-size: 1em;
	letter-spacing: -0.01em;
	color: #eee;
	background-color: #333;
}
.submit-blue {
	color: white;
	background-color: CornflowerBlue !important;
}
.cancel {
	display: inline-block;
	width: 120px;
	height: 46px;
	border-radius: 23px;
	font-size: 1em;
	letter-spacing: -0.01em;
	color: #eee;
	background-color: #888;
}
.dup-btn {
	display: inline-block;
	width: 100px;
	height: 34px;
	border-radius: 16px;
	background-color: #444;
}





/* 
p,
span,
div,
h1,
h2,
h3 {
	transform: rotate(-0.01deg);
}

 */


/* 맨 위로 돌아가기 */
#go_top {
	display: none;
	position: fixed;
	right: 30px;
	bottom: 50px;
	outline: 0px;
	border: 0px;
	background: transparent;
	cursor: pointer;
	z-index: 9999;
	color: #3F51B5;
}
/* //맨 위로 돌아가기 */








/* index main */

article h1 {
	font-size: 1.6em;
	font-weight: 600;
	letter-spacing: -0.007em;
	color: #1d1d1f;
	margin: 76px 0px 30px;
}

article h3 {
	font-size: 1.40em;
	font-weight: 600;
	letter-spacing: -0.007em;
	color: #1d1d1f;
}





/* Item box (card) - position & effect */

.card {
	background-color: WHITE;
	border-radius: 18px;
	text-align: center;
	box-shadow: 2px 4px 12px rgba(0,0,0,.08);
	transition: all .3s cubic-bezier(0,0,.5,1);
}

.card-normal {
	background-color: WHITE;
	border-radius: 18px;
	text-align: center;
	box-shadow: 2px 4px 12px rgba(0,0,0,.08);
}


.card:hover {
	box-shadow: 2px 4px 12px rgba(0,0,0,.2);
/* 	transform: scale(1.005); */
	transform: scale(1.007);
}

#main_card_box .card {
	width: 352px;
	height: 564px;
	margin: 0px 10px 30px;
	float: left;
}

#main_card_box li:first-child,
#main_card_box li:nth-child(5) {
	margin-left: 0px;
}

#main_card_box li:nth-child(4),
#main_card_box li:nth-child(8) {
	margin-right: 0px;
}




/* Item box inside - position & effect */
/* img */
#main_card_box .card_img {
	position: relative;
	width: 352px;
	height: 310px;
	line-height: 310px;
	text-align: center;
}

#main_card_box .card_img li {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} 

#main_card_box .card_img img {
	height: 310px;
	vertical-align: middle;
}

/* color buttons */
#main_card_box .card_color_buttons {
	display: inline-block;
	margin: 0px auto;
}
#main_card_box .card_color_buttons li {
	margin: 0px 5px;
	float: left;
}
#main_card_box .color_button {
	width: 13px;
	height: 13px;
	border: 1px solid black;
	border-radius: 50%;
	cursor: pointer;
}
#main_card_box .color_button_selector {
	position: relative;
	top: -4px;
	left: -4px;
	width: 19px;
	height: 19px;
	border: 1px solid black;
	border-radius: 50%;
}

/* color title */
#main_card_box .card_name {
	margin-top: 26px;
	letter-spacing: -0.05em;
}

/* price text */
#main_card_box .card_price {
	margin-top: 20px;
}

#main_card_box .card_price h3,
#main_card_box .card_price h4 {
	display: inline;
}

#main_card_box .card_price h3 {
	margin-left: 14px;
}

#main_card_box .card_price h4 {
	margin-left: 1px;
}

/* buy button */
#main_card_box .card_buy {
	color: white;
	background-color: #212425;
	width: 276px;
	height: 37px;
	line-height: 37px;
	border-radius: 20px;
	margin: 16px auto 16px;
	font-size: 0.78em;
	font-weight: bold;
	letter-spacing: -0.08em;
	cursor: pointer;
}

/* item compare button */
#main_card_box .card_compare_price {
	font-size: 1em;
	font-weight: bold;
	letter-spacing: -0.1em;
	line-height: 1.11em;
	cursor: pointer;
}
#main_card_box .card_compare_price div,
#main_card_box .card_compare_price span
{
	vertical-align: middle;
}

.card_compare_price.disabled {
	pointer-events: none;
}

.plus_button {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}
.plus_button.disabled {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	color: #2189ff;
}
.plus_button:before {
	content: '';
	display: inline-block;
	background: url(../images/common/iconPlus-default.svg) no-repeat center;
	background-size: 100% auto;
	width: 20px;
	height: 20px;
	position: relative;
	vertical-align: middle;
}
.plus_button.disabled:before {
	content: '';
	display: inline-block;
	background: url(../images/common/iconPlus-active.svg) no-repeat center;
	background-size: 100% auto;
	width: 20px;
	height: 20px;
	position: relative;
	vertical-align: middle;
}

/* Main Apple */
#main_apple {
	margin-top: 50px;
	margin-bottom: 30px;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: -0.05em;
}

#main_apple li {
	position: relative;
	float: left;
}

#main_apple #content1 {
	width: 448px;
	height: 504px;
	background-color: orange;
	overflow: hidden;
	pointer-events: none;
	box-shadow: 2px 4px 12px rgba(0,0,0,.3);
}

#main_apple #content1,
#main_apple #content2 {
	margin-right: 20px;
}

#main_apple #content2,
#main_apple #content3 {
	width: 490px;
	height: 504px;
	overflow: hidden;
}

#main_apple #content2 img,
#main_apple #content3 img {
	width: 490px;
}


#main_apple #content1 div,
#main_apple #content2 div,
#main_apple #content3 div {
	position: absolute;
	text-align: left;
	z-index: 10;
}

#main_apple #content1 div {
	color: white;
	top: 56px;
	left: 20px;
}

#main_apple #content1 div span {
	color: #ddd;
}

#main_apple #content2 div,
#main_apple #content3 div {
	color: black;
	top: 10px;
	left: 30px;
}

#main_apple #content2 span,
#main_apple #content3 span {
	display: inline-block;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: -0.05em;
	color: gray;
	margin-bottom: 12px;
}






/* 로그인 */
.login-form-wrap {
	width: 640px;
	height: 650px;
	margin: 20px auto;
}
.login-form {
	width: 640px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.input-trans {
	border: 0px;
	background: transparent;
	border-bottom: 0.5px solid #333;
}
.input-trans:focus {
	background-color: white;
	outline: none;
}
.input-trans::placeholder {
	background: transparent;
}
.login-form .title {
	font-size: 1.8em;
	font-weight: bold;
	padding-top: 80px;
	margin-bottom: 80px;
}

.login-box-outside {
	margin: 0px auto 40px;
}
.login-box-outside>label {
	display: inline-block;
	width: 300px;
	font-size: 0.9em;
	color: #333;
 	text-align: left;
 	margin-bottom: 10px;
}
.login-box-outside>input {
	display: inline-block;
	width: 300px;
	font-size: 1.4em;
	color: black;
}
.login-form .buttons>input {
	display: block;
	width: 306px;
	height: 46px;
	border-radius: 23px;
	font-size: 1em;
	letter-spacing: -0.05em;
	color: #333;
	background-color: #ccc;
	margin: 30px auto;
}
.login-form .buttons>input:first-child {
	color: #f8f8f8;
	font-size: 1.05em;
	font-weight: bold;
	background-color: CornflowerBlue;
}




/* 가입 약관 */
.contract-wrap {
	width: 902px;
	height: 600px;
	margin: 0px auto;
}
.contract-wrap p {
	text-align: left;
	padding: 0px 90px 4px;
}
.contract-wrap .submit {
	margin: 20px;
	transform: translate(-57%, -50%);
}
.contract-wrap .contract-agree {
	text-align:center;
	padding-top: 20px;
}


/* 회원 가입 */
.join-form-wrap {
	width: 890px;
	height: 664px;
	margin-bottom: 34px;
}
.join-form {
	position: relative;
	text-align: left;
	width: 800px;
	height: 600px;
	margin: 0px auto;
	padding-left: 50px;
}
.join-form legend {
	display: inline-block;
	font-size: 1.6em;
	font-weight: bold;
	padding-top: 45px;
	padding-bottom: 8px;
}
.join-form label {
	display: inline-block;
	width: 150px;
	height: 40px;
	font-size: 1.1em;
	margin-left: 3px;
	vertical-align: middle;
}
.join-form .join-form-input {
	display: inline-block;
	font-size: 1.4em;
	color: black;
	border-bottom: 1px solid black;
	vertical-align: middle;
}
.join-form .buttons {
	text-align: center;
	padding-top: 37px;
}




/* 아이디 체크 */
.id-check-wrap {
	padding-left: 20px;
}
