@charset "UTF-8";
body {
	width: 100%;
	height: 100%;
}

body, input, textarea, select, button, table {
	font-family: 'Noto Sans KR', '맑은고딕', 'Malgun Gothic', '돋움', Dotum,
		Helvetica, sans-serif;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td,
	form, fieldset, legend, input, textarea, button, select {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

body, input, textarea, select, button, table, h1, h2, h3, h4, h5 {
	font-size: 15px;
}

body {
	position: relative;
	color: #000
	
}

table {
	border-collapse: collapse
}

img, fieldset {
	border: 0
}

img {
	vertical-align: top;
}

ul, ol {
	list-style: none
}

em, address {
	font-style: normal
}

a {
	color: inherit;
	text-decoration: none
}

a:hover {
	text-decoration: underline;
}

/* layout */
#wrap {height: 700px;
  width: 100%;
	
}

#header {
	position: relative;
	width: 100%;
	height: 55px;
	padding: 0 10px;
	overflow: hidden;
	background: #09F;
	box-sizing: border-box;
}

#container {
	position: absolute;
	top: 55px;
	bottom: 31px;
	
}

#aside {
	position: relative;
	left: 0;
	top: 45px;
	bottom: 50px;
	width: 110px;
	height:au;
	padding: 10px;
	overflow: auto;
	box-sizing: border-box;
	border-right: 1px solid #ddd;
	background: #fff;
	
}

#content {
	position: relative;
	top: 0;
	bottom: 0;
	left: 220px;
	right: 0;
	padding: 10px;
	overflow: auto;
    float:right;
}



/* common */
.skip-navi {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}

.skip-navi a {
	position: absolute;
	top: -1000em;
	left: 0;
	width: 200px;
	padding: 5px 0;
	text-align: center;
	font-weight: bold;
	background: black;
	color: white;
}

.skip-navi a:hover, .skip-navi a:active, .skip-navi a:focus {
	display: inline-block;
	top: 0;
}

/* header */
.gnb-wrap {
	position: relative;
	width: 100%;
	height: 55px;
	line-height: 55px;
}

.gnb-tit {
	position: absolute;
	top: 0;
	left: 0;
	font-weight: bold;
	color: #FFF;
}

.gnb-tit .home {
	display: inline-block;
	font-size: 24px;
	margin: 0 10px 0 0;
	font-weight: bold;
}

.gnb-tit .local {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
}

.gnb-menu {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
}

.gnb-menu .mn {
	float: left;
	padding: 0 10px;
	text-align: center;
	color: #FFF;
}

/* content */
.content {
	height:500px;
	
}

table#List { text-align:center;
	float:right;	
}



 
table#productList {  border-collapse: collapse; /* border 사이의 간격 없앰 */ 
 border-top: 2px solid #333;
 border-bottom: 1px solid #333; /* 전체 테이블 길이 설정  */
 margin-left: 100px;
 margin-bottom: 20px; 
 width:90%;} 
  
nav#top_menu { float: right; width: 600px; margin: 50px 20px 0 0;}
nav#top_menu ul { list-style: none; }
nav#top_menu ul li { float: left; margin: 0 5px; }
nav#top_menu ul li a { display: block; text-decoration: none; color: #333; padding: 10px;
 font-style: normal; font-size: 13px; }
nav#top_menu ul li a:hover {  background-repeat: repeat-x; background-position: bottom;
 border-bottom: 2px solid gray; }
nav#top_menu ul li a.logout {  margin-left: 238px; }
nav#top_menu ul li a.logout1 {  margin-left: 210px; }






#main_img { margin-top: 40px; }
#main_img img { padding-left: 5px; }
#main_img h1 {  text-align: center; font-size: 20pt; font-weight: bold; font-family: sans-serif; }
#imgId {  width: 30px; height: 40px; }
#productList td{  padding-right: 40px;  }
#list td{ padding: 8px 5px; text-align: left;}




#review h1 {  text-align: center;  }
table#orderList { border-collapse: collapse;  border-top: 2px solid #333;
 border-bottom: 1px solid #333; width: 85%; margin-left: 100px; margin-bottom: 20px; }
#register { margin-left: 300px; }
#register table { border: 1px solid black; border-spacing: 5px; }
#register td { border: 1px solid black; width: 270px; }

#insertTheater { margin-left: 350px; }
#insertTheater table { border: 1px solid gray; border-spacing: 5px; }
#insertTheater td { border: 1px solid gray; }
#insertMovie { margin-left: 300px; }
#insertMovie table { border: 1px solid gray; border-spacing: 5px; }
#insertMovie td { border: 1px solid gray; }
#insertMovieTime table { border: 1px solid gray;  border-spacing: 5px; }
#insertMovieTime td { border: 1px solid gray; }

#mypageReserve table {  border: 1px solid black;  width: 480px;  height: 180px;
 margin-top: 10px; background-image: url("../images/tic.png"); background-repeat: no-repeat;
 background-position: center; margin-left: 300px; color: #006700;  }
#mypageReserve .btn { margin-right: 30px; }
#mypageReserve b {  margin-top: 50px; margin-left: 110px; font-size: 20pt;
 font-weight: bold; }
#mypageReserveView table { border: 1px solid gray; width: 500px; height: 150px;
 margin-left: 300px; margin-top: 10px;}
#mypageReviewList table { border: 1 solid black; width: 800px; margin-top: 10px;
 margin-left: 150px;}
#mypageReviewList td { border-bottom: 1px solid gray; width: 800px; height: 30px;
 margin-top: 10px; }
#mypageReviewList th { border: 1 solid black; height: 30px; width: 20px;}

#userView table { border: 1 solid black; width: 500px; margin-top: 10px; margin-left: 300px;}
#userView td { border: 1px solid gray; height: 30px; width: 20px;}
#userView th { border: 1 solid black; height: 30px; width: 20px;}
#userView h1 { padding: 5px;}
#userView a { text-decoration: none; font-size: 12pt; margin-bottom: 100px;
 margin-left: 150px; }
#userUpdate h1 { padding: 5px;}
#userUpdate table { margin-left: 430px;}

nav#sub_menu { float: left; margin-right: 10px;}
nav#sub_menu ul li { list-style-type: none; margin-top: 10px; }
nav#sub_menu a { text-decoration: none; color: #666; border-bottom: 1px dotted #999;
 display: block; width: 100px; height: 25px; padding: 5px; }
nav#sub_menu a:hover { border-bottom: 1px solid black; }


nav#sub_menu h1 { padding: 5px; border-bottom: double;}
nav#sub_menu ul { margin-left: -20px;}

div.reviewdiv { font-family: "맑은 고딕"; font-size: 15px;}
div.reviewdiv table tr.review2 td { border-bottom-style: dotted; border-collapse: collapse;
 border-bottom-width: 1px; text-align: center;}
div.reviewdiv table tr.review2:HOVER { background-color: #FAFAD2; color: inherit;}
div.reviewdiv table tr.review2 td.starpoint { text-align: left;}
div.reviewdiv table.reviewtable { width: 1000px;}

#check table { border: 1px solid gray; border-spacing: 5px; margin-left: 300px;}
#check td { border: 1px solid gray;}
#check h1 { font-size: 10pt; text-align: center;}





